{% extends ('base.html.twig') %}
{% block body %}
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html.twig" method="post">
                            <input type="search" name="top-search-bar" class="form-control"
                                   placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html.twig"><img src="./img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="index.html.twig">Home</a></li>
                                    <li><a href="./about.html">Présentation</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bckgd.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Antoine <br>Duchemin</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">I photograph very instinctively. I see
                                    how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                                <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                    <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Contact</a>
                                    <a class="hero-mail-contact"
                                       href="mailto:antoine.g.duchemin@gmail.com">antoine.g.duchemin@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->

        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter=".game">Game Design</button>
                        <button class="btn" data-filter=".level">Level Design</button>
                            <button type="button" class="btn" data-filter="none"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modèle 3D
                            </button>
                            <div class="dropdown-menu">
                                {% for modele in modele %}
                                    <button class="dropdown-item"  data-filter=".{{ modele.id }}" >{{ modele.libelle }}</button>
                                {% endfor %}
                            </div>

                        <button class="btn" data-filter=".dessin">Dessin</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Start -->
    <div class="row alime-portfolio mb-5">
            <!-- Single Gallery Item -->
            {% for photo in photo %}
                {% if photo.dossier != null %}

                    <div class="col-12 col-sm-6 col-lg-3 single_gallery_item {{ photo.dossier.id }} mb-30 wow fadeInUp"
                         data-wow-delay="100ms">
                        <div class="single-portfolio-content">
                            <img src="{{ asset("uploads/" ~ photo.image) }}" alt="">
                            <div class="hover-content">
                                <a href="{{ asset("uploads/" ~ photo.image) }}" class="portfolio-img">+</a>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-lg-3 single_gallery_item {{ photo.categorie.libelle }} mb-30 wow fadeInUp"
                         data-wow-delay="100ms">
                        <div class="single-portfolio-content">
                            <img src="{{ asset("uploads/" ~ photo.image) }}" alt="">
                            <div class="hover-content">
                                <a href="{{ asset("uploads/" ~ photo.image) }}" class="portfolio-img">+</a>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>






    <!-- Gallery Area End -->
        <!-- Footer Area Start -->
        <footer class="footer-area mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-content d-flex align-items-center justify-content-between">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                            href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <!-- Footer Logo -->

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        
        <!-- Footer Area End -->
       

{% endblock %}